:root,
h1,
h2 {
  padding: 0;
  margin: 0;
  --board-size: 10;
  --blue: #00003e;
  --shadow: #858599;
  --blue2: #89cff3;
  --blue3: #636379;
  --blue4: rgb(177, 26, 56);
  --cell-size: max(1.5rem, 2.9vw, 2.9vh);
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Cantarell, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  overflow-y: auto;
}

/* place my ships at the end of the game  */
.main-display {
  padding: 1rem 0;
  padding-bottom: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--blue);
  color: whitesmoke;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
}
.gameboard > div {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.2rem;
  padding: 0.4em 1.2em;
  border-radius: 6px;
  color: var(--blue);
  font-weight: 600;
  border: none;
  outline: none;
  background-color: whitesmoke;
  cursor: pointer;
}
.ship_placed {
  background-color: white;
  cursor: default;
}
.preview {
  background-color: var(--shadow);
  cursor: "crosshair";
}
.not_allowed {
  cursor: not-allowed;
}
.empty {
  cursor: pointer;
  background-color: var(--blue);
}
.game-container {
  justify-content: flex-start;
  overflow-y: auto;
  display: none;
}
.boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: max(3rem, 5vw);
}
.ship_placed2 {
  background-color: var(--blue2);
  cursor: not-allowed;
}
.ship_placed3 {
  cursor: not-allowed;
  background-color: var(--blue3);
}
.ship_placed4 {
  cursor: not-allowed;
  background-color: var(--blue4);
}
.commentary {
  height: max(12vh, 5rem);
  z-index: 2;
}
.comment {
  font-size: 1.3rem;
}

.flex-adj {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.ships-imgs {
  display: grid;
  grid-template-rows: repeat(5, calc(var(--cell-size) * 2));
}
.ships-imgs > div {
  display: grid;
  grid-template-columns: repeat(5, calc(var(--cell-size)));
}
.ships-imgs img {
  width: var(--cell-size);
  height: var(--cell-size);
  mix-blend-mode: plus-lighter;
  filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(273deg)
    brightness(97%) contrast(100%);
}
